.container{
  margin: 0;
  padding:0;
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(4, 1fr);
}
.collection{
  display: grid;
  gap: 1em;
  grid-column: 2/span 3;
  grid-template-columns: repeat(3, 1fr);
}
.card{
  display:block;
  border-radius: 5%;
  padding: 1rem;
  aspect-ratio: 2/1.2;
  position: relative;
  box-shadow: 1px 1px 15px 1px #000;
  transition: transform 0.5s ease-in-out;
}
.card:hover{
  transform:scale(1.05);
}
.card span{
  font-size: 12px;
  line-height: 2rem;
}
.bin,
.view{
  position: absolute;
  top:70%;
  right:5%; 
}
.view{
  right:20%;
}

#delete,
#eye{
  font-size: 1rem;
}